{
  "prettier/prettier": [
    "error",
    {
      "trailingComma": "all",
      "singleQuote": true,
      "parser": "flow",
      "usePrettierrc": false,
      "fileInfoOptions": {
        "withNodeModules": false
      },
      "endOfLine": "lf",
      "printWidth": 200
    }
  ]
}
